img {
  width: 400px;
  height: 400px;
  border-radius: 1.5%;
  /* center images in figure parent elements */
  margin: auto;
  display: block;
}

/* reduce vertical padding in jumbotron */
.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* position carousel labels on singular figure elements */
figure {
  position: relative;
}
.carousel-caption {
  bottom: -5%;
  background: rgba(255,255,255,0.3);
  border-radius: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* center buttons horizontally on lg and xl screens */
div.xs-6.col-md-4.col-lg-4.col-xl-4:first-of-type {
margin-left: auto;
}
div.xs-6.col-md-4.col-lg-4.col-xl-4:last-of-type {
margin-right: auto;
}

/* add margin to separate buttons vertically on md and sm screens */
@media only screen and (max-width: 768px) {
  div.xs-6.col-md-4.col-lg-4.col-xl-4:first-of-type {
    margin-bottom: 8px;
  }
}