{% extends 'app/index.html' %}

{% block style %}
  <style>
    img {
      max-width: 500px;
      max-height: 500px;
    }
  </style>
{% endblock style %}

{% block content %}

  <div class='messages'>
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% else %}
        <div class='{{ message.tags }} alert alert-success' role='alert'>{{ message }}</div>
      {% endif %}
    {% endfor %}
  </div>

  <img src='{{ animal.image.url }}' alt='{{ animal.name }}'>
  <div>{{ animal.name }}, {{ animal.age }}, {{ animal.description }}</div>
  {% if existing_application %}
    {% if application.approved == None %}
      <button class='btn btn-secondary' disabled>Application pending</button>
    {% elif application.approved == False %}
      <button class='btn btn-danger' disabled>Application declined</button>
    {% endif %}
  {% else %}
    <a class='btn btn-dark' href="{% url 'app:adopt' animal.id %}">Apply for adoption</a>
  {% endif %}
  {% if user.is_staff %}
    <a class='btn btn-outline-dark' href="{% url 'app:list_specific_applications' animal.id %}">View Applications</a>
    <a class='btn btn-outline-dark' href="{% url 'app:animal_edit' animal.id %}">Edit Animal</a>
  {% endif %}
{% endblock content %}