{% extends 'app/index.html' %}
{% load crispy_forms_tags %}

{% block style %}
    <style>
        /* style the manually-styled image upload button */
        #file_name_text {
            display: inline-block;
            width: auto;
            min-width: 33%;
            padding-left: 4px;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Admit a New Animal</h3>
    </div>
    <!-- change action if editing an existing animal -->
    {% if editing %}
    <form id="animal_form" method="POST" action="{% url 'app:animal_edit' animal.id %}" enctype="multipart/form-data">
    {% else %}
    <form id="animal_form" method="POST" action="{% url 'app:new_arrival' %}" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <div class='card mb-3'>
            <div class='card-header'>
              Required Information
            </div>
            <div class='card-body' style='padding-top: 10px; padding-bottom: 10px;'>
                {% crispy animal_form %}
            </div>
        </div>
        <!-- change button if editing an existing animal -->
        {% if editing %}
        <input class="btn btn-outline-dark" type="submit" name="submit" value="Update Animal" />
        <a class="btn btn-outline-dark" href="{% url 'app:animal_detail' animal.id %}">Back to Detail</a>
        {% else %}
        <input class="btn btn-outline-dark" type="submit" name="submit" value="Admit Animal" />
        {% endif %}
    </form>
{% endblock content %}

{% block script %}
    <!-- style photo upload button and file name text by adding elements with jQuery -->
    <script>
        // create custom file upload button and append to page in proper container
        const button = document.createElement('button')
        button.classList.add('btn')
        button.classList.add('btn-outline-dark')
        button.classList.add('btn-sm')
        button.type = 'button'
        button.textContent = 'Upload Image'
        button.id = 'img_upload'
        $('#div_id_image').find('div').append(button)

        // hide the default file upload button and text
        $('#div_id_image').find('div').find('input').hide()

        {% if editing %}
        $('#div_id_image').find('div').find('label').hide()
        {% endif %}

        // make an element to hold the file name's text and append it to the page
        div = document.createElement('div')
        div.id = 'file_name_text'
        $('#div_id_image').find('div').append(div)

        // click function on custom button to trigger the default hidden file upload input
        $('#img_upload').click(function(){
            $('#id_image').click()
        })

        // capture file name of selected image file
        $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            // get file name
            fileName = e.target.files[0].name
            // calculate half the length of string (used for styling considerations)
            halfway = fileName.length / 2
            first_half = fileName.slice(0, halfway)
            second_half = fileName.slice(-halfway)
            // if the string is more than 16 chars, we need to reduce the length to 16ish chars before appending to page
            if (fileName.length > 16) {
                text = first_half.substring(0,7)+"..."+second_half.slice(-7)
                $('#div_id_image').find('div').find('#file_name_text').empty().append(text)
            } else {
                $('#div_id_image').find('div').find('#file_name_text').empty().append(fileName)
            }
        })
    })
    </script>
{% endblock script %}