{% extends 'app/index.html' %}

{% block style %}
  <style>

    /* align cards in grid */
    .card-container {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;
    }

    .card-body{
      max-height: 150px;
    }

    /* establish dimension of cards outside of media queries */
    .card {
      width: 310px;
      height: 450px;
      margin-bottom: 10px;
      position: relative;
    }

    /* position links to animal detail pages */
    .card > a {
      width: 33%;
      position: absolute;
      bottom: 2.5%;
      left: 33%;
    }

    .card > img {
      width: 310px;
      height: 310px;
    }

    /* used to center animal cards in body if window between 1200px and 992px */
    @media only screen and (max-width: 1200px) and (min-width:992px) {
      .card {
        width: 300px;
        height: 450px;
      }
      .card > img {
        width: 300px;
        height: 300px;
      }
    }

    /* used to center animal cards in body if window between 992px and 768px */
    @media only screen and (max-width: 992px) and (min-width:768px) {
      .card-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
      }
    }

    /* used to center animal cards in body if window smaller than 768px */
    @media only screen and (max-width: 768px) {
      .card-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
      }
    }

    /* used to scale animal cards in body if window smaller than 360px (used for iphone5 width of 320px) */
    @media only screen and (max-width: 360px) {
      .card {
        width: 280px;
      }
      .card > img {
        width: 280px;
        height: 280px;
      }
    }

  </style>
{% endblock style %}

{% block content %}
  <div class='messages'>
    {% for message in messages %}
      <div class='{{ message.tags }} alert alert-info' role='alert'>{{ message }}</div>
    {% endfor %}
  </div>

  <div class='card-container'>
    {% for animal in animals %}
      <div class='card'>
        <img class='card-img-top' src='{{ animal.image.url }}' alt='{{ animal.name }}'>
        <a href="{% url 'app:animal_detail' animal.id %}" class='btn btn-outline-dark btn-sm'>View</a>
        <div class='card-body'>
          <h5 class='card-title'>{{ animal.name }}</h5>
          <p class='card-text'>{{ animal.breed }}, {{ animal.color }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}