{% extends 'app/index.html' %}

{% block style %}
  <style>

    /* align cards in grid */
    .body-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    /* establish dimension of cards outside of media queries */
    .card {
      width: 310px;
      height: 450px;
      margin-bottom: 10px;
      position: relative;
    }

    /* position links to animal detail pages */
    .card > a {
      width: 33%;
      position: absolute;
      bottom: 2.5%;
      left: 33%;
    }

    .card > img {
      width: 310px;
      height: 310px;
    }

    /* used to center animal cards in body if window smaller than breakpoint-lg */
    @media only screen and (max-width: 992px) {
      .body-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    /* used to center animal cards in body if window smaller than breakpoint-lg */
    @media only screen and (max-width: 360px) {
      .card {
        width: 280px;
      }
      .card > img {
        width: 280px;
        height: 280px;
      }
    }

  </style>
{% endblock style %}

<div class="messages">
  {% for message in messages %}
    <div class="{{ message.tags }} alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
</div>

{% block content %}
  {% for animal in animals %}
    <div class="card">
      <img class="card-img-top" src={{ animal.image }} alt="Card image cap">
      <a href="#" class="btn btn-outline-dark btn-sm">View</a>
      <div class="card-body" style="max-height: 150px;">
        <h5 class="card-title">{{ animal.name }}</h5>
        <p class="card-text">{{ animal.breed }}, {{ animal.color }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock content %}