{% extends 'app/index.html' %}
{% load static %}
{% load upto %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/available_animals.css' %}">
{% endblock style %}

{% block content %}
  <div class='pb-2 mt-4 mb-4 border-bottom'>
    <h3>Available Pets</h3>
  </div>

  <div class='messages'>
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% else %}
        <div class='{{ message.tags }} alert alert-success' role='alert'>{{ message }}</div>
      {% endif %}
    {% endfor %}
  </div>

  <div class='card mb-3' style='width: 100%; height: auto;'>
    <h5 class='card-header'>
      Filter or search by name
    </h5>

    <div class='card-body' id='filters'>

        <form class='ml-lg-auto my-2 my-lg-0' action="{% url 'app:search_pets' %}" method='GET'>
          <input type='hidden' value='{{ animal_species }}' name='animal_species'>
          <input type='hidden' value='{{ animal_age }}' name='animal_age'>
          <div class='row'>
            <div class='col-md-12 col-lg-3 col-xl-4'>
              <div class='input-group'>
                <input class='form-control' name='name_query' type='search' placeholder='Search by name' aria-label='Search' value='{{  search_text }}'>
                <div class='input-group-append'>
                  <button class='btn btn-outline-dark' type='submit'><i class='fas fa-search'></i></button>
                </div>
              </div>
            </div>
            <div id='species-filters' class='col-md-6 col-lg-3 col-xl-3 text-center'>
              <div class='btn-group' role='group' aria-label='animal species filter'>
                {% if animal_species == 'cat' %}
                  <button type='submit' class='btn btn-outline-dark active' name='cat'>Cat</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='cat'>Cat</button>
                {% endif %}
                {% if animal_species == 'dog' %}
                  <button type='submit' class='btn btn-outline-dark active' name='dog'>Dog</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='dog'>Dog</button>
                {% endif %}
                {% if animal_species == 'other' %}
                  <button type='submit' class='btn btn-outline-dark active' name='other'>Other</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='other'>Other</button>
                {% endif %}
              </div>
            </div>
            <div id='age-filters' class='col-md-6 col-lg-4 col-xl-3 text-center'>
              <div class='btn-group' role='group' aria-label='animal age filter'>
                {% if animal_age == 'young' %}
                  <button type='submit' class='btn btn-outline-dark active' name='young'>Young</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='young'>Young</button>
                {% endif %}
                {% if animal_age == 'adult' %}
                  <button type='submit' class='btn btn-outline-dark active' name='adult'>Adult</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='adult'>Adult</button>
                {% endif %}
                {% if animal_age == 'senior' %}
                  <button type='submit' class='btn btn-outline-dark active' name='senior'>Senior</button>
                {% else %}
                  <button type='submit' class='btn btn-outline-dark' name='senior'>Senior</button>
                {% endif %}
              </div>
            </div>
            <div class='col-md-12 col-lg-2 col-xl-2'>
              <a href="{% url 'app:pets' %}" class='btn btn-outline-dark clear-btn'>Clear</a>
            </div>
          </div>
        </form>

    </div>

  </div>

  <div class='card-container'>
  <!-- give user search feedback if no animals are in queryset -->
    {% if animal_count == 0 %}
      <div class='card'>
        <div class='card-body'>
          <h5 class="card-title">Sorry! No pets match!</h5>
          <h6 class="card-subtitle mb-2 text-muted">Here's what we looked for:</h6>
            <ul>
              <li>Species: {% if animal_species == None or animal_species == 'None' or animal_species == '' %}none{% else %} {{ animal_species }} {% endif %}</li>
              <li>Age group: {% if animal_age == None or animal_age == 'None' or animal_age == '' %}none{% else %} {{ animal_age }} {% endif %}</li>
              <li>Pet name: {% if search_text == None or search_text == 'None' or search_text == '' %}none{% else %} {{ search_text }} {% endif %}</li>
            </ul>
        </div>
    {% endif %}
    {% for animal in animals %}
      <div class='card'>
        <img class='card-img-top' src='{{ animal.image.url }}' alt='{{ animal.name }}'>
        <a href="{% url 'app:animal_detail' animal.id %}" class='btn btn-outline-dark btn-sm'>View</a>
        <div class='card-body'>
          <h5 class='card-title'>{{ animal.name }}</h5>
          <p class='card-text'>{{ animal.breed|capfirst }}</p>
          <p class='card-text'>{{ animal.age|timesince|upto:',' }} old</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}