{% extends 'app/index.html' %}
{% load crispy_forms_tags %}

  {% block style %}
    <style>
      /* hide ugly validation error block that appears when passwords don't match */
      .alert-block {
        display: none;
      }
    </style>
  {% endblock style %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Change Password</h3>
    </div>

    <div class='messages'>
      {% for message in messages %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% endfor %}
    </div>

    <form id='password_form' method='post' action="{% url 'app:change_password' %}" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class='card mb-3'>
        <div class='card-header'>
          Enter Current and New Passwords
        </div>
        <div class='card-body' style='padding-top: 10px; padding-bottom: 10px;'>
          {% crispy new_password_form %}
        </div>
      </div>
      <input class='btn btn-outline-dark' type='submit' name='submit' value='Update Password' />
      <a class='btn btn-outline-dark' href="{% url 'app:profile' %}">Cancel and Return</a>
    </form>
{% endblock content %}