{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Project{% endblock title %}</title>
    {% comment %} Bootstrap {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <style>

      html, body {
        min-height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      /* used with navbar mobile view to place margin between buttons in menu */
      @media only screen and (max-width: 992px) {
        .nav-item:nth-last-child(2) {
          margin-bottom:10px;
        }
      }

      /* used with navbar mobile view to place margin between buttons in menu */
      @media only screen and (min-width: 992px) {
        .nav-item:nth-last-child(2) {
          margin-right:8px;
        }
      }
    </style>

    <!-- Block style tag for styling in each template -->
    {% block style %}{% endblock style %}

  </head>
  <body>
    <div class="content">
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'app:index' %}">Shelter Name</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_collapse_content" aria-controls="navbar_collapse_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_collapse_content">
        {% comment %} Links on left side of navbar {% endcomment %}
        <ul class="navbar-nav mr-lg-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'app:pets' %}">Adopt a Pet</a></li>
          {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:new_arrival' %}">New Arrival</a></li>
          {% endif %}
        </ul>
        {% comment %} Login/Logout link and search on right side of navbar {% endcomment %}
        <ul class="navbar-nav ml-lg-auto">
          {% if not user.is_authenticated %}
            <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'app:login' %}">Login</a></li>
            <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'app:register' %}">Register</a></li>
          {% else %}
            <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'app:profile' %}">Edit Profile</a></li>
            <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'app:logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br />
    <div class="container body-content pb-5">
    {% block content %}

      {% if user.is_authenticated %}
      <h1>Authenticated view: {{ user.username }}!</h1>
      {% else %}
      <h1>Unauthenticated view</h1>
      {% endif %}

    {% endblock content %}
    </div>
  </div>

    {% comment %} <footer class="pt-4 mt-md-5 py-md-5 border-top bg-light footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <h5><a class="" href="{% url 'website:index' %}">Bangazon</a></h5>
            {% if user.is_authenticated %}
              <p><a class="" href="{% url 'website:logout' %}">Log Out</a></p>
            {% else %}
              <p><a class="" href="{% url 'website:login' %}">Log In</a></p>
            {% endif %}
          </div>
          <div class="col-6 col-md-8">
            <h5>Categories</h5>
            <ul class="list-unstyled text-small d-md-flex">
              {% for category in product_categories %}
                <li class="mr-3"><a href="{% url 'website:product_by_category' category.id %}">{{category.name}}</a></li>
              {% endfor%}
            </ul>
          </div>
        </div>
      </div>
    </footer> {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>


      {% comment %} <form class="form-inline ml-lg-auto my-2 my-lg-0" action="{% url 'app:index' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input class="form-control" name="product_query" type="search" placeholder="Find your new friend" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form> {% endcomment %}