{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Critter{% endblock title %}</title>
    <!-- FontAwesome (for use with Bootstrap) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- static css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Block style tag for styling in each template -->
    {% block style %}{% endblock style %}
  </head>

  <body>
    <div class="content">

      {% include 'app/navbar.html' %}
      <br>

      <div class="container body-content pb-5">
      {% block content %}

        {% include 'app/home.html' %}

      {% endblock content %}
      </div>

    </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- block used for a script tag in a specific template -->
  {% block script %}{% endblock script %}

  </body>
</html>