{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Project{% endblock title %}</title>
    {% comment %} Bootstrap {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  {% endcomment %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <style>

      html, body {
        min-height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      /* 56px to account for fixed navbar */
      .container {
        margin-top: 56px;
      }

      /* used with navbar mobile view to swap buttons with nav links for consistency in dropdown menu */
      @media only screen and (max-width: 992px) {
        .nav-lg {
          display: none;
        }
        .nav-sm {
          display: block;
        }
      }

      /* used with navbar mobile view to swap buttons with nav links for consistency in dropdown menu */
      @media only screen and (min-width: 992px) {
        .nav-sm {
          display: none;
        }
      }

    </style>

    <!-- Block style tag for styling in each template -->
    {% block style %}{% endblock style %}

  </head>
  <body>
    <div class="content">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'app:index' %}">Critter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_collapse_content" aria-controls="navbar_collapse_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_collapse_content">
        {% comment %} Links on left side of navbar {% endcomment %}
        <ul class="navbar-nav mr-lg-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'app:pets' %}">Available Pets</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'app:list_volunteering' %}">Volunteering</a></li>
          {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:new_arrival' %}">New Arrival</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:list_applications' %}">Adoptions {% if pending_app_count %}<span class="badge badge-warning">{{pending_app_count}}</span>{% endif %}</a></li>
          {% endif %}
        </ul>
        {% comment %} Login/Logout link and search on right side of navbar {% endcomment %}
        <ul class="navbar-nav ml-lg-auto">
          {% if not user.is_authenticated %}
            <li class="nav-item nav-lg" style="margin-right:8px;"><a class="btn btn-outline-light" href="{% url 'app:login' %}">Login</a></li>
            <li class="nav-item nav-lg"><a class="btn btn-outline-light" href="{% url 'app:register' %}">Register</a></li>
            <li class="nav-item nav-sm"><a class="nav-link" href="{% url 'app:login' %}">Login</a></li>
            <li class="nav-item nav-sm"><a class="nav-link" href="{% url 'app:register' %}">Register</a></li>
          {% else %}
            <li class="nav-item nav-lg" style="margin-right:8px;"><a class="btn btn-outline-light" href="{% url 'app:profile' %}">Profile and Applications</a></li>
            <li class="nav-item nav-lg"><a class="btn btn-outline-light" href="{% url 'app:logout' %}">Logout</a></li>
            <li class="nav-item nav-sm"><a class="nav-link" href="{% url 'app:profile' %}">Profile and Applications</a></li>
            <li class="nav-item nav-sm"><a class="nav-link" href="{% url 'app:logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br />
    <div class="container body-content pb-5">
    {% block content %}

      {% if user.is_authenticated %}
      <h3>Authenticated view... Current user: {{ user.first_name }}</h3>
      {% else %}
      <h1>Unauthenticated view</h1>
      {% endif %}

    {% endblock content %}
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- block used for a script tag in a specific template -->
    {% block script %}{% endblock script %}

  </body>
</html>