{% extends 'app/index.html' %}

  {% block style %}
    <style>
      img {
        max-width: 100px;
        max-height: 100px;
      }
    </style>
  {% endblock style %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Adoption Manager</h3>
        <div>Click an animal to view applications</div>
    </div>

    <div class='messages'>
      {% for message in messages %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% endfor %}
    </div>

    <div class='list-group'>
      {% for animal in animals %}
        <a href="{% url 'app:list_specific_applications' animal.id %}" class="list-group-item list-group-item-action">
          <div class='media'>
            <img class='mr-3' src='{{ animal.image.url }}' alt='img'>
            <div class='media-body'>
              <h5 class='mt-0'>{{ animal.name }}</h5>
                {% for key, value in num_pending_applications.items %}
                  {% if key == animal.id %}
                    {% if value > 0 %}
                    <span class="badge badge-primary">{{ value }} pending</span> <br>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {{ animal.breed }} <br>
              Arrived: {{ animal.date_arrival|timesince }} ago
            </div>
          </div>
        </a>
      {% endfor %}
    </div>

{% endblock content %}