{% extends 'app/index.html' %}

  {% block style %}
    <style>
      img {
        max-width: 100px;
        max-height: 100px;
      }
    </style>
  {% endblock style %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>You're Viewing: {{ animal.name }}</h3>
    </div>

    <div class='list-group mb-4'>
      <div class='list-group-item'>
        <div class='media'>
          <img class='mr-3' src='{{ animal.image.url }}' alt='img'>
          <div class='media-body'>
            <h5 class='mt-0'>{{ animal.name }}</h5>
            {{ animal.breed }} <br>
            Arrived: {{ animal.date_arrival|timesince }} ago
          </div>
        </div>
      </div>
    </div>

    <a class='btn btn-outline-dark' href="{% url 'app:animal_detail' animal.id %}">View Animal Details</a>
    <a class='btn btn-outline-dark' href="{% url 'app:list_applications' %}">Return to Adoption Manager</a>

    <div class='messages'>
      {% for message in messages %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% endfor %}
    </div>

    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Pending Applications</h3>
        {% if num_applications > 0 %}
          <div>
            <span class='badge badge-primary'>{{ num_applications }} Pending</span>
          </div>
        {% endif %}
    </div>

    <div class="accordion" id="accordion">
      {% for application in applications %}
        <div class="card">
          <div class="card-header bg-light" id="heading{{forloop.counter}}">
            <div class="mb-0">
              <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">View</button> &nbsp;
              <div style='display:inline-block'>{{ application.user.last_name }}, {{ application.user.first_name }}</div>
            </div>
          </div>

          <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}"   data-parent="#accordion">
            <div class="card-body">
              Submitted: <strong>{{ application.date_submitted }}</strong> ({{ application.date_submitted|timesince }} ago) <br>
              <div>
                <h5 class='pb-2 mt-3 mb-2 border-bottom'>Contact Information</h5>
                  ({{ application.user.volunteer.phone_number|make_list|slice:'0:3'|join:'' }})
                  {{ application.user.volunteer.phone_number|make_list|slice:'3:6'|join:'' }}-{{ application.user.volunteer.phone_number|make_list|slice:'6:'|join:'' }} <br>
                  {{ application.user.email }}
              </div>
              <div class='pb-1 mt-3 mb-2 border-bottom'>
                <h5>Application Text</h5>
              </div>
              <p>{{ application.text }}</p>
              <div class='pb-1 mt-3 mb-2 border-bottom'>
                <h5>Controls</h5>
              </div>
              <a href='#' class='btn btn-outline-success'>Approve</a>
              <a href='#' class='btn btn-outline-danger'>&nbsp; Reject &nbsp;</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='pb-2 mt-4 mb-4 border-bottom'>
      <h3>Rejected Applications</h3>
    </div>

    <div class='list-group'>
      {% for application in rejections %}
        <a href='#' class='list-group-item list-group-item-action'>
          {{ application.user.last_name }}, {{ application.user.first_name }} <br>
          {{ application.date_submitted|timesince }} ago
        </a>
      {% endfor %}
    </div>

{% endblock content %}