{% extends 'app/index.html' %}
{% load static %}

{% block style %}
  <style>
    img {
      height: 100px;
      width: 100px;
    }
  </style>
{% endblock style %}

{% block content %}
  <div class='pb-2 mt-4 mb-4 border-bottom'>
      <h3>Upcoming Volunteering Opportunities</h3>
      <div>Click an activity to view its details</div>
  </div>

  <div class='messages'>
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
      {% else %}
        <div class='{{ message.tags }} alert alert-success' role='alert'>{{ message }}</div>
      {% endif %}
    {% endfor %}
  </div>

  {% if user.is_staff %}
    <a href="{% url 'app:add_volunteering' %}" class='btn btn-outline-dark btn-sm'>Add New Activity</a>
    <br>
    <br>
  {% endif %}

  {% if not activities %}
    There are no upcoming volunteering events. Please check back later!
  {% else %}

    <div class='list-group'>
      {% for activity in activities %}
        <a href="{% url 'app:volunteering_details' activity.id %}" class="list-group-item list-group-item-action">
          <div class='media'>
            <!-- determine thumbnail for volunteering activity with loop through dictionary -->
            {% for key, value in thumbnails.items %}
              {% if key == activity.id %}
                <img class='mr-3' src='{% static value %}' alt='{{ activity.activity_type }}'>
              {% endif %}
            {% endfor %}
            <div class='media-body'>
              <h5 class='mt-0'>{{ activity.activity }}</h5>
              Activity type: {{ activity.activity_type }} <br>
              <!-- assign day of week with the date listing -->
              {% for key, value in day_of_week.items %}
                {% if key == activity.id %}
                  Date: {{ value }}, {{ activity.date }} <br>
                {% endif %}
              {% endfor %}
              <!-- determine if user is signed up for the activity and show it if so -->
                {% if activity.id in signed_up %}
                  <span class="badge badge-success" style="margin-top:4px;">You're signed up!</span>
                {% else %}
                  <!-- address the number of open volunteering spots -->
                  {% if activity.spots_remaining <= 0 %}
                    No volunteer spots remaining
                  {% else %}
                    Volunteers still needed: {{ activity.spots_remaining }}
                  {% endif %}
                {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>

  {% endif %}

{% endblock content %}