{% extends 'app/index.html' %}

{% block content %}
  <div class='pb-2 mt-4 mb-4 border-bottom'>
      <h3>Log In to Volunteer or Adopt</h3>
  </div>

  {% for message in messages %}
  <div class="{{messages.tags}} alert alert-danger" role="alert">{{message}}</div>
  {% endfor %}

    <form id="login_form" method="post" action="{% url 'app:login' %}">
      {% csrf_token %}
      <div class='card mb-3'>
        <div class='card-header'>
          Login via E-mail and Password
        </div>
        <div class='card-body'>
          <div class='row'>
          <div class="form-group col-md-6 mb-0">
            <label for="email">E-mail:</label>
            <input class="form-control" type="text" id="email" name="email" value="" size="50" />
          </div>
          <div class="form-group col-md-6 mb-0">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" value="" size="50" />
          </div>
          </div>
            <input type="hidden" value="{{next}}" name="next" />
        </div>
      </div>
      <button class="btn btn-outline-dark" type="Submit">Authenticate</button>
      {% if next != "/" %}
        <a class ="btn btn-outline-dark" href="/register?next={{next}}">Register</a>
      {% endif %}
    </form>
{% endblock content %}