{% extends 'app/index.html' %}

{% block style %}
  <style>
    img {
      max-width: 100px;
      max-height: 100px;
    }
  </style>
{% endblock style %}

{% block content %}
  <div class='pb-2 mt-4 mb-4 border-bottom'>
    <h3>My Applications</h3>
  </div>
  <ul class='list-group'>
    {% if applications|length == 0 %}
      <li class='list-group-item'>You have no applications.</li>
    {% endif %}
    {% for application in applications %}
      <li class='list-group-item'>
        <div class='media'>
          <img class='mr-3' src='{{ application.animal.image.url }}' alt='{{ application.animal.name }}'>
          <div class='media-body'>
            <h5 class='mt-0'>{{ application.animal.name }}</h5>
            {{ application.animal.breed }} <br>
            Age: {{ application.animal.age }} <br>
            <a class='btn btn-outline-dark btn-sm' href="{% url 'app:animal_detail' application.animal.id %}">View Animal Details</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}