{% extends 'app/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Register to Volunteer or Adopt!</h3>
    </div>
    {% if registered %}
      <strong>Thank you for registering!</strong>
      <a href="{% url 'app:index' %}">Return to the homepage.</a><br />
    {% else %}
      <form id='user_form' method='post' action="{% url 'app:register' %}" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='card mb-3'>
          <div class='card-header'>
            Name, E-mail, and Password
          </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              <div class='card-body'>
                {% crispy user_form %}
              </div>
            </li>
          </ul>
        </div>
        <div class='card mb-3'>
          <div class='card-header'>
            Mailing Address
          </div>
          <ul class='list-group'>
            <li class='list-group-item'>
              <div class='card-body'>
                {% crispy volunteer_form %}
              </div>
            </li>
          </ul>
        </div>
        <input class="btn btn-outline-dark" type="submit" name="submit" value="Complete Registration" />
      </form>
    {% endif %}
{% endblock content %}