{% extends 'app/index.html' %}

  {% block style %}
    <style>
      img {
        max-width: 100px;
        max-height: 100px;
      }
    </style>
  {% endblock style %}

{% block content %}
    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>You're Viewing: {{ animal.name }}</h3>
    </div>

    <div class='list-group mb-4'>
      <div class='list-group-item'>
        <div class='media'>
          <img class='mr-3' src='{{ animal.image.url }}' alt='img'>
          <div class='media-body'>
            <h5 class='mt-0'>{{ animal.name }}</h5>
            {{ animal.breed }} <br>
            Arrived: {{ animal.date_arrival|timesince }} ago
          </div>
        </div>
      </div>
    </div>

    <div class='pb-2 mt-4 mb-4 border-bottom'>
        <h3>Application Rejection</h3>
    </div>

    <p>You're rejecting a user's adoption application for this animal.</p>

    <p>Please confirm that you would like to reject the application for <strong>{{ animal.name }}</strong> provided by <strong>{{ application.user.first_name }} {{ application.user.last_name }}</strong>.</p>

    <p>Note that the following default reason for rejection will be provided to the applicant if no reason is provided in the field below.</p>

    <p>Default reason for rejection: <em>"Thank you for your interest in this animal. While we believe that there is another more suitable applicant for this animal, we hope you will consider adopting another pet!"</em></p>

    <form id='login_form' method='post' action="{% url 'app:reject_application' animal.id application.id %}">
      {% csrf_token %}
      <div class='card mb-3'>
        <div class='card-header'>
          Reason (up to 500 characters)
        </div>
        <div class='card-body'>
          <div class='form-group mb-0'>
            <textarea class='form-control' rows='4'></textarea>
          </div>
        </div>
      </div>
      <button class='btn btn-outline-danger' type='Submit'>Confirm Rejection</button>
      <a href="{% url 'app:list_specific_applications' animal.id %}" class='btn btn-outline-dark'>Cancel and Return</a>
    </form>


{% endblock content %}